{% extends 'base.html.twig' %}

{% block title %}Media{% endblock %}

{% block body %}
    <h1>Media</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medium.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ medium.Type }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ medium.Path }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ medium.Alt }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('media_index') }}">retourner sur la liste</a>

    <a href="{{ path('media_edit', {'id': medium.id}) }}">modifier</a>

    {{ include('media/_delete_form.html.twig') }}
{% endblock %}
